* {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 199, 127);
}
